body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-bottom: 2px solid #fff;
}

section {
	padding: 20px;
	margin: 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

h1 {
	font-size: 36px;
	margin-top: 0;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px auto;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.main {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main2 {
	margin-bottom: 10px;
}

label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="text"], textarea {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	
	
}

button:hover {
	background-color: #fff;
	color: #333;
}
